<html>
    <head>
        <title>RAID 1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="code_cs.css">
    </head>

    <body>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                document.getElementById("yo1").style.borderColor="black";
                document.getElementById("c2").style.visibility="hidden";
                $("#yo1").click(function(){
                    document.getElementById("yo1").style.borderColor="black";
                    document.getElementById("yo2").style.borderColor="transparent";
                    document.getElementById("c1").style.visibility="visible";
                    document.getElementById("c2").style.visibility="hidden";
                })
                $("#yo2").click(function(){
                    document.getElementById("yo2").style.borderColor="black";
                    document.getElementById("yo1").style.borderColor="transparent";
                    document.getElementById("c2").style.visibility="visible";
                    document.getElementById("c1").style.visibility="hidden";
                })
            })
        </script>
        <div id="header">
            <ul>
                <a href="#landcode.html"><li>Problem Statements</li></a>
                <a href=""><li>Leaderboard</li></a>
                <a href=""><li>Submission</li></a>
            </ul>
        </div>
        <div style="padding-top:150px;"></div>
        <ul id="but">
            <li class="check" id="yo1">Problem Statement</li>
            <li class="check" id="yo2">Submission</li>
        </ul>
        <div id="c1">
            Enter Complete PS here !!
            <h4>Input</h4>
            And again, here you go !
            <h4>Output</h4>
            Outcome.. !
        </div>
        <div id="c2">
        <form role="form" method="GET" action="/submit/" align="center">
        <label for="selectId" class=" control-label">Lang</label>
        
        <select id="selectId" name="lang">
            <option name="c++">C++</option>
            <option name="c">C  </option>
            <option name="java">JAVA</option>
        </select>

        <!--<label for="selectProb" class=" control-label">Problem Raid</label>
        <select id="selectProb" name="prob">
            <option name="1">1</option>
            <option name="2">2</option>
        </select>
        <label for="team" class=" control-label">Team ID</label>
        <textarea class="input" name="team" rows="1">
        </textarea>--><br>
        <textarea class="input-large" name="source" rows="30" cols="80">
        </textarea><br>
        <div style="padding-top:50px;"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
    </form></div>
    </body>
</html>
    
