<html>
{% if not user or user.is_anonymous %}
		<meta http-equiv="refresh" content="0; URL=http://agile-tundra-5528.herokuapp.com/">
	{% endif %}
<head>
	<title>Sudocode</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/templates/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/templates/css/landing.css" />
</head>
<body>
	{% if not user or user.is_anonymous %}
		<meta http-equiv="refresh" content="0; URL=http://agile-tundra-5528.herokuapp.com/">
	{% endif %}
	<div id="header">
		<img src="/templates/assets/sudocode.png" width="150" style="float: left;" />
		<img src="/templates/assets/logo.png" width="400" style="float: left; margin-bottom: 15px; margin-left: 20px;" />
		<h1>Dashboard</h1>
		<a href="/logout" class="dash_btn">LOGOUT</a>
		<a href="#" class="dash_btn">SUBMISSION</a>
	</div>
	<div id="content">
		<div class="prb-holder">
			<h2>RAID I</h2>
			<p class="prb-statement">
				<span class="prb-meta">PROBLEM STATEMENT:</span><br /><br />
				Write a code to optimise your strategy to find and destroy enemy bunkers in a jungle.
			</p>
			<a class="gen-btn" href="/raid1">SOLVE CHALLENGE</a>
		</div>
		<!-- <div class="prb-holder">
			<h2>RAID II</h2>
			<p class="prb-statement">
				<span class="prb-meta">PROBLEM STATEMENT:</span><br /><br />
				Write a code to find and attack enemy troops in the jungle.
			</p>
			<a class="gen-btn" href="#">SOLVE CHALLENGE</a>
		</div> -->
	</div>
	<div id="footer">
		<div class="box">
			<h2>EVENTS</h2>
			<ul>
				<li><a href="http://www.robotix.in/events/event/cascade">Cascade</a></li>
			    <li><a href="http://www.robotix.in/events/event/skyfall">Skyfall</a></li>
			    <li><a href="http://www.robotix.in/events/event/minefield">MineField</a></li>
			    <li><a href="http://www.robotix.in/events/event/stepup">StepUp</a></li>
			    <li><a href="http://www.robotix.in/events/event/aughit">AugHit</a></li>
			    <li><a href="http://www.robotix.in/events/event/sudocode">Sudocode</a></li>
			</ul>
		</div>
		<div class="box">
			<h2>CONNECT</h2>
			<ul>
    			<li><a href="https://www.facebook.com/robotixiitkgp">Facebook</a></li>
			    <li><a href="https://twitter.com/RobotixIITKgp">Twitter</a></li>
			    <li><a href="https://www.youtube.com/user/RobotixIITkgp?feature=sub_widget_1">YouTube</a></li>
			    <li><a href="https://plus.google.com/u/0/117481117164748333739/posts">Google+</a></li>
			    <li><a href="https://mail.google.com/mail/u/0/?ui=2&view=btop&ver=1pxvtfa3uo81z#to%253Dcontact%252540robotix.in%2526cmid%253D1">contact@robotix.in</a></li>
			    <li><a href="http://blog.robotix.in/">Blog</a></li>
			    <li><a href="http://www.robotix.in/app/">Robotix App</a></li>
			</ul>
		</div>
	</div>
</body>
</html>