<html>
<head>
	<title>Sudocode</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/templates/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/templates/css/landing.css" />
</head>
<body>
	<div id="header">
		<img src="/templates/assets/sudocode.png" width="150" style="float: left;" />
		<img src="/templates/assets/logo.png" width="400" style="float: left; margin-bottom: 15px; margin-left: 20px;" />
		<h1>Sudocode Dashboard</h1>
		<a href="/logout" class="dash_btn">LOGOUT</a>
		<a href="#" class="dash_btn">LEADERBOARD</a>
		<a href="#" class="dash_btn">SUBMISSION</a>
	</div>
	<div id="content">
		<div class="prb-holder">
			<h2>RAID I</h2>
			<p class="prb-statement">
				<span class="prb-meta">PROBLEM STATEMENT:</span><br /><br />
				Write a code to optimise your strategy to find and destroy enemy bunkers in a jungle.
			</p>
			<a class="gen-btn" href="#">SOLVE CHALLENGE</a>
		</div>
		<!-- <div class="prb-holder">
			<h2>RAID II</h2>
			<p class="prb-statement">
				<span class="prb-meta">PROBLEM STATEMENT:</span><br /><br />
				Write a code to find and attack enemy troops in the jungle.
			</p>
			<a class="gen-btn" href="#">SOLVE CHALLENGE</a>
		</div> -->
	</div>
	<div id="footer">
		<div class="box">
			<h2>EVENTS</h2>
			<ul>
				<li><a href="#">Cascade</a></li>
			    <li><a href="#">Skyfall</a></li>
			    <li><a href="#">MineField</a></li>
			    <li><a href="#">StepUp</a></li>
			    <li><a href="#">AugHit</a></li>
			    <li><a href="#">Sudocode</a></li>
			</ul>
		</div>
		<div class="box">
			<h2>CONNECT</h2>
			<ul>
    			<li><a href="#">Facebook</a></li>
			    <li><a href="#">Twitter</a></li>
			    <li><a href="#">YouTube</a></li>
			    <li><a href="#">Google+</a></li>
			    <li><a href="#">contact@robotix.in</a></li>
			    <li><a href="#">Blog</a></li>
			    <li><a href="#">Robotix App</a></li>
			</ul>
		</div>
		<div class="box">
			<h2>ARCHIVE</h2>
			<ul>
    			<li><a href="#">ROBOTIX 2014</a></li>
			    <li><a href="#">ROBOTIX 2013</a></li>
			</ul>
		</div>
	</div>
</body>
</html>