<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="/templates/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/templates/code_cs.css">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery.js"></script>
	    <script src="/templates/js/bootstrap.min.js"></script>
	    <div id="header">
	    	<ul>
	    		<a href="#"><li>Problem Statements</li></a>
	    		<a href=""><li>Leaderboard</li></a>
	    		<a href=""><li>Submission</li></a>
	    	</ul>
	    </div>
	    <div id="content">
	    	<h3>RAID 1</h3>
	    	<div id="box">
	    		<a href="">Solve Challenge</a>
	    		<br>
	    		<div style="color:#979faf;padding-top:15px;">Problem Statement :</div>
	    		<div style="padding-top:15px;">Type PS here.</div>
	    	</div>
	    	<h3>RAID 2</h3>
	    	<div id="box">
	    		<a href="">Solve Challenge</a>
	    		<br>
	    		<div style="color:#979faf;padding-top:15px;">Problem Statement :</div>
	    		<div style="padding-top:15px;">Type PS here.</div>
	    	</div>
	    </div>
	</body>
</html>