<html>
<head>
	<title>Sudocode | RAID I</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/templates/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/templates/css/landing.css" />
	<link rel="stylesheet" type="text/css" href="/templates/css/problem.css" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div id="header">
		<img src="/templates/assets/sudocode.png" width="150" style="float: left;" />
		<img src="/templates/assets/logo.png" width="400" style="float: left; margin-bottom: 15px; margin-left: 20px;" />
		<h1>Raid 1</h1>
		<a href="/logout" class="dash_btn">LOGOUT</a>
		<a href="#" class="dash_btn">SUBMISSION</a>
		<a href="/landingPage" class="dash_btn">DASHBOARD</a>
		<a href="#" class="dash_btn">Hello {{ user.get_full_name|default:user.username }}!</a>
	</div>
	<div id="content">
		<ul id="tabs">
			<li><a href="#" id="ps1">Problem Statement</a></li>
			<li><a href="#" id="submissions1">Submissions</a></li>
			<li><a href="#" id="leaderboard1">Leaderboard</a></li>
			<li style="border-right: none;"><a href="#" id="discussions1">Discussions</a></li>
		</ul>
		<div id="ps" class="prb-desc">
			<p>Write a code to optimise your strategy to find and destroy enemy bunkers in a jungle.</p>
			<h2>Description</h2>

			<p> You work with the CIA and are running a military campaign against the terrorists. Your most recent undertaking is a mission to find and destroy enemy bunkers in the african jungles. Each bunker you have to attack has a number of weak points, every one of which has to be attacked to destroy that bunker. Your intelligence has a list of the number of weak points per bunker. You fly out with a helicopter to find and destroy these bunkers in the dense jungle. Your only option however to locate these bunkers is to bomb different spots randomly in the jungle until you hit one of the weak points of a bunker. Write a strategic code that can help you minimise the number of bombs you use to destroy these bunkers.</p>
			<h2>Assumptions</h2>

			<p>The Jungle can be assumed to be spread out over a 2-d array. Each weak point of a bunker occupies one cell. Weak points can be assumed to be located adjacent to each other in a linear fashion, diagonally or in a square/rectangular fashion in the 2-d array.</p>
			<h2>Input</h2>

			<p> The first line would contain an integer n (10 &lt;=  n &lt;= 500) denoting dimension of the square grid.<br>The second line would contain an integer m (m &lt; n*n) denoting the total number of bunkers in the square grid.</p>

			<h2>Event Rules</h2>

			<p>The jungle is assumed to be a grid of any size between 10*10 to 500*500.<br>
    		The weak points of one bunker can be found only in a continuous linear/ diagonal/ square/ rectangular fashion in the rectangular grid. So once you have found one weak point in a bunker, you can rest assured that the next one will be on any of the adjacent/ diagonal cells.<br>
    		The position of a cell in the grid is defined by a pair of space separated integers “x y” denoting the cell position with row number x and column number y.<br>
    		Bombs are air-dropped on to a particular cell in the jungle.<br>
    		Each query is a string consisting of two space-separated integers printed to the STDOUT. The first integer denotes the x-coordinate of the cell position and the second integer the y-coordinate respectively.<br>
    		The participants code must send queries to determine if the bomb drop was successful.<br>
    		The simulator counts the number of queries sent.<br>
    		For each query, the simulator would either return the string “YES” or “NO” answering whether the cell position mentioned in the query contained a weak point to the participant’s STDIN. The participant’s code must read the result of the query as a string from the STDIN.
    		<br>
			</p>

			<h2>Scoring</h2>
			<p>The participant's code with the minimum number of queries wins.</p>
		</div>
		<div id="submissions" class="prb-desc">
		<form method="post" action="/submt/" enctype="multipart/form-data">
			{% csrf_token %}
			<span style="font-family: 'BigNoodle'; font-size: 18pt;"><b>LANG</b></span><br /><br />
			<select name="lang">
				<option value="c">C</option>
				<option value="cpp">C++</option>
				<option value="java">JAVA</option>
				<option value="python2">PYTHON2</option>
			</select>
			<br/>
			<textarea id="code" name="source"></textarea><br />
			<input type="submit" value="SUBMIT">
		</form>
		</div>
		<div id="leaderboard" class="prb-desc"></div>
		<div id="discussions" class="prb-desc">
			<div id="disqus_thread"></div>
    			<script type="text/javascript">
        			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        			var disqus_shortname = 'sudocode'; // required: replace example with your forum shortname

        			/* * * DON'T EDIT BELOW THIS LINE * * */
        			(function() {
            			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        			})();
    			</script>
    			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
	</div>
	<div id="footer">
		<div class="box">
			<h2>EVENTS</h2>
			<ul>
				<li><a href="http://www.robotix.in/events/event/cascade">Cascade</a></li>
			    <li><a href="http://www.robotix.in/events/event/skyfall">Skyfall</a></li>
			    <li><a href="http://www.robotix.in/events/event/minefield">MineField</a></li>
			    <li><a href="http://www.robotix.in/events/event/stepup">StepUp</a></li>
			    <li><a href="http://www.robotix.in/events/event/aughit">AugHit</a></li>
			    <li><a href="http://www.robotix.in/events/event/sudocode">Sudocode</a></li>
			</ul>
		</div>
		<div class="box">
			<h2>CONNECT</h2>
			<ul>
    			<li><a href="https://www.facebook.com/robotixiitkgp">Facebook</a></li>
			    <li><a href="https://twitter.com/RobotixIITKgp">Twitter</a></li>
			    <li><a href="https://www.youtube.com/user/RobotixIITkgp?feature=sub_widget_1">YouTube</a></li>
			    <li><a href="https://plus.google.com/u/0/117481117164748333739/posts">Google+</a></li>
			    <li><a href="https://mail.google.com/mail/u/0/?ui=2&view=btop&ver=1pxvtfa3uo81z#to%253Dcontact%252540robotix.in%2526cmid%253D1">contact@robotix.in</a></li>
			    <li><a href="http://blog.robotix.in/">Blog</a></li>
			    <li><a href="http://www.robotix.in/app/">Robotix App</a></li>
			</ul>
		</div>
	</div>
	<script src="/templates/js/switch.js"></script>
</body>
</html>