#tabs {
	border-bottom: 1px solid #111;
	overflow: auto;
	left: 50%;
}
#tabs li {
	float: left;
	font-family: 'BigNoodle';
	font-size: 18pt;
	letter-spacing: 2px;
	border-right: 1px solid #111;
}
#tabs li a:link, #tabs li a:visited {
	text-decoration: none;
	color: #111;
	display: inline-block;
	padding: 15px 30px;
}
#tabs li a:hover {
	background: rgba(51,62,181,1);
	color: #fff;
}
#ps {
	display: block;
}
#submissions, #leaderboard, #discussions {
	display: none;
}
.prb-desc {
	padding: 20px;
	line-height: 1.4em;
}
.prb-desc p {
	padding: 10x 0 0 0;
	font-family: Arial;
	font-size: 12pt;
}
.prb-desc h2 {
	font-family: 'BigNoodle';
	font-size: 15pt;
	letter-spacing: 2px;
	padding: 15px 0;
	color: #999;
}
#code {
	margin-top: 10px;
	padding: 15px;
	width: 600px;
	height: 400px;
	margin-bottom: 10px;
	border: 1px solid #999;
	outline: none;
	box-shadow: 2px 2px 2px #eee inset;
}
input[type=button] {
	border: 1px solid #999;
	background: #fff;
	padding: 10px 30px;
	font-family: 'BigNoodle';
	font-size: 15pt;
}