#pygment_content {
 border: 2px solid gray; 
 overflow: auto; 
 height: 400px; 
 width: 800px; 
 padding-left: 2px; 
 margin-bottom: 2px
}

div.highlight {
 margin: 0px 2px;
}
div.highlight ol{
 margin-left: 40px;
}
div.highlight li{
 color: #831D0A;
}
div.highlight li div.line{
 color: #333;
}
